<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% block header %}
<h1>{% block title %}{{ empleado['first_name']}} {{empleado['last_name'] }}{% endblock %}</h1>
{% endblock %} {% block content %}
<br>
<p>

        <a href="{{ url_for('departamentos.detalle', id=empleado['department_id']) }}" >
        <h3>{{ empleado['department_name']}}</h3>  
        </a>

        <h3>Telefono: {{ empleado['phone_number']}}</h3>
        <h3>Salario: {{ empleado['salary']}}</h3>
        <h3>Fecha de iniciazion:{{ empleado['hire_date']}}</h3>
        <h3>Trabajo:{{ empleado['job_title']}}</h3>

</p>
{% endblock %}
