<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% block header %}
<h1 style="text-align: center;">
    {% block title %}{{ empleado['first_name'] }} {{ empleado['last_name'] }}{% endblock %}
</h1>
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; margin-top: 20px;">
    <table border="1" style="border-collapse: collapse; text-align: left;">
        <thead>
            <tr>
                <th style="padding: 10px;">Campo</th>
                <th style="padding: 10px;">Información</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 10px;">Departamento</td>
                <td style="padding: 10px;">{{ empleado['department_name'] }}</td>
            </tr>
            <tr>
                <td style="padding: 10px;">Teléfono</td>
                <td style="padding: 10px;">{{ empleado['phone_number'] }}</td>
            </tr>
            <tr>
                <td style="padding: 10px;">Salario</td>
                <td style="padding: 10px;">{{ empleado['salary'] }}</td>
            </tr>
            <tr>
                <td style="padding: 10px;">Fecha de Contratación</td>
                <td style="padding: 10px;">{{ empleado['hire_date'] }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
