<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block header %}
<table>  
<head> 
    <div class="title">
    <h1>{% block title %}Empleados{% endblock %}</h1>
    </div>
  </head>
{% endblock %}

{% block content %}
  <body>
    
    {% for emp in empleado %}
    <tr>
    <ul>
      
    <li>
      <a
        class="action"
        href="{{ url_for('empleados.detalle', id=emp['employee_id']) }}"
      >
      {{ emp['first_name'] }}
      {{ emp['last_name'] }}</a
      >
    
    </li>
  
    {% endfor %}
  
  </ul>
</tr>
  </body>
</table>
{% endblock %}

