<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block header %}
  <div class="title">
    <h1>{% block title %}Empleados{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="empleados-list">
    {% for emp in empleado %}
      <div class="empleado">
        <a class="action" href="{{ url_for('empleados.detalle', id=emp['employee_id']) }}">
          {{ emp['first_name'] }} {{ emp['last_name'] }}
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}


